@using BlogSite.EntityLayer.Concrete;
@model List<Blog>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Your Blogs</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Assignee </th>
                                <th> Subject </th>
                                <th> Status </th>
                                <th> Create Date </th>
                                <th> Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in Model){
                                <tr>
                                    <td>
                                        <img src="~/@i.Image" class="mr-2" alt="image"> @i.Title
                                    </td>
                                    <td> @(i.Content.Length > 30 ? i.Content.Substring(0, 30):i.Content) </td>
                                    <td>
                                        <label class="badge badge-gradient-success">@i.Status</label>
                                    </td>
                                    <td> @(((DateTime)i.CreateDate).ToLongDateString()) </td>
                                    <td> <a asp-action="Detail" asp-controller="Blog" asp-route-Id="@i.Id" class="btn btn-primary">Details</a> </td>
                                </tr>
                            }
                   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>