@using BlogSite.EntityLayer.Concrete;

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayoutPage.cshtml";
}
@model List<Blog>
<h1>BlogListByWriter</h1>
<a class="btn btn-success" asp-action="Add" asp-controller="Blog">Add New Blog</a>

<table class="table">
    <tr>
        <th>#Id</th>
        <th>#Title</th>
        <th>#Created Date</th>
        <th>#Category</th>
        <th>#Status</th>
        <th>#Delete</th>
        <th>#Edit</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Title</td>
                <td>@(((DateTime)(x.CreateDate)).ToLongDateString())</td>
                <td>@x.Category?.Name</td>
                <td>@if (@x.Status == true)
                    {
                        <span class="badge badge-success">active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">passiv</span>
                    }
                </td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Blog" asp-route-Id="@x.Id" asp-route-email="@User.Identity.Name">Delete</a></td>
                <td><a class="btn btn-primary">Edit</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7">
                <a class="btn btn-danger" style="width: 100%;">Have not any blog. </a>
            </td>
        </tr>
    }
</table>




